.explore1,
.landscapes1 {
  position: relative;
  display: inline-block;
}
.landscapes1 {
  line-height: 223.68px;
  width: 605px;
  height: 222px;
  flex-shrink: 0;
}
.explore1 {
  font-size: var(--font-size-lg);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  color: var(--color-seashell);
  margin-top: -222px;
}
.landscapes-group {
  position: absolute;
  top: 270px;
  left: 658px;
  width: 605px;
  height: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.untitled-1-1-icon1,
.vector-icon1 {
  position: absolute;
  top: 409px;
  left: 885px;
  width: 434px;
  height: 204px;
  object-fit: cover;
}
.vector-icon1 {
  top: 91px;
  left: 1024px;
  width: 11.6px;
  height: 7.5px;
}
.travel2 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.logo-inner {
  position: absolute;
  top: 26px;
  left: 28px;
  width: 98.6px;
  height: 38.1px;
  overflow: hidden;
  object-fit: contain;
}
.home1,
.logo2 {
  position: relative;
}
.logo2 {
  width: 126.6px;
  height: 64.2px;
}
.home1 {
  font-weight: 500;
}
.nav-elements1 {
  width: 485px;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.wrapper-rectangle-12-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 20px;
  transform: scale(2.207);
}
.wrapper-rectangle-121 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 152px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-in-touch1 {
  position: absolute;
  top: 18px;
  left: 26px;
  font-weight: 500;
}
.wrapper-rectangle-12-group {
  position: relative;
  width: 152px;
  height: 58px;
}
.nav-bar1,
.top-nav-bar1 {
  width: 844px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-188xl);
  text-align: left;
  font-size: var(--font-size-mid);
  font-family: var(--font-circular-std);
}
.top-nav-bar1 {
  position: absolute;
  top: 64px;
  left: 321px;
  width: 1278px;
  height: 67.2px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-288xl);
  text-align: center;
  font-size: var(--font-size-12xl-6);
  font-family: var(--font-volkhov);
}
.frame-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 767px;
  background-image: url(/public/frame-1000001794@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-138xl-4);
  color: var(--white);
  font-family: var(--font-yesteryear);
}
.package-detail-page-tour-loc-child {
  position: absolute;
  top: 836px;
  left: 277px;
  background-color: var(--white);
  box-shadow: 0 4px 48px 12px rgba(0, 0, 0, 0.09);
  width: 1328px;
  height: 1629px;
}
.icon1 {
  position: absolute;
  top: 1913px;
  left: 934px;
  width: 670px;
  height: 420px;
  object-fit: cover;
}
.qui-tempore-voluptate {
  position: absolute;
  top: 975px;
  left: 345px;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  color: var(--color-darkslateblue-100);
  display: inline-block;
  width: 708px;
  height: 73px;
}
.sit-quasi-soluta {
  margin: 0;
}
.sit-quasi-soluta-container,
.tour-plan1 {
  position: absolute;
  left: 345px;
  text-transform: capitalize;
  color: var(--color-darkslateblue-100);
}
.sit-quasi-soluta-container {
  top: 1823px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 708px;
  height: 448px;
}
.tour-plan1 {
  top: 910px;
  font-size: var(--font-size-12xl-6);
  font-family: var(--font-volkhov);
}
.package-detail-page-tour-loc-inner,
.package-detail-page-tour-loc-item {
  position: absolute;
  top: 695px;
  left: 277px;
  background-color: var(--color-whitesmoke-100);
  width: 1328px;
  height: 141px;
}
.package-detail-page-tour-loc-inner {
  left: 913px;
  background-color: var(--white);
  width: 318px;
}
.package-detail-page-tour-loc-child1,
.package-detail-page-tour-loc-child2 {
  position: absolute;
  top: 695px;
  left: 277px;
  background-color: var(--color-whitesmoke-100);
  width: 318px;
  height: 141px;
}
.package-detail-page-tour-loc-child2 {
  left: 595px;
}
.location1 {
  position: absolute;
  top: 751px;
  left: 1041px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.package-detail-page-tour-loc-child3 {
  position: absolute;
  top: 695px;
  left: 1231px;
  background-color: var(--color-whitesmoke-100);
  width: 374px;
  height: 141px;
}
.gallery1 {
  position: absolute;
  top: 751px;
  left: 1395px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.biinfo-circle-icon1 {
  position: relative;
  width: 26px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.information1 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.biinfo-circle-group {
  position: absolute;
  top: 751px;
  left: 345px;
  width: 183px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.footer-img-icon1 {
  position: absolute;
  top: 0;
  left: 967px;
  width: 676px;
  height: 484px;
  object-fit: cover;
  opacity: 0.07;
}
.copyright-xpro1 {
  position: absolute;
  top: 320px;
  left: 456px;
  letter-spacing: -0.02em;
  line-height: 26px;
  font-weight: 500;
}
.footer-item {
  position: absolute;
  top: 278px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1200px;
  height: 2px;
}
.travel-helps-companies1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 213px;
}
.linkedin-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.linkedin-group,
.travel-helps-companies-manage-group {
  width: 128px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.travel-helps-companies-manage-group {
  width: 213px;
  height: 107px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12xl);
}
.about-us1,
.company1 {
  position: relative;
  line-height: 24px;
}
.about-us1 {
  font-weight: 500;
}
.about-us-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--font-size-base);
}
.nav-list-item3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 198px;
  gap: var(--gap-5xl);
}
.maldives-group,
.nav-list-item3,
.nav-list-item4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.maldives-group {
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
}
.nav-list-item4 {
  position: absolute;
  top: 0;
  left: 234px;
  width: 132px;
  height: 180px;
  gap: var(--gap-5xl);
}
.join-our-newsletter1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-2xl);
  line-height: 24px;
}
.your-email-address1 {
  position: absolute;
  top: 14px;
  left: 15px;
  letter-spacing: -0.02em;
  line-height: 26px;
  font-weight: 500;
  opacity: 0.2;
}
.frame-child7 {
  position: absolute;
  top: 0;
  left: 240px;
  border-radius: var(--br-3xs);
  background-color: var(--color-salmon);
  box-shadow: 0 20px 35px rgba(223, 105, 81, 0.15);
  width: 149px;
  height: 52px;
}
.subscribe1 {
  position: absolute;
  top: 13px;
  left: 283px;
  letter-spacing: -0.02em;
  line-height: 26px;
  font-weight: 500;
  color: var(--white);
}
.your-email-address-group {
  position: absolute;
  top: 48px;
  left: 0;
  background-color: var(--color-lavender);
  width: 389px;
  height: 52px;
}
.will-send-you-container1 {
  position: absolute;
  top: 121px;
  left: 0;
  letter-spacing: -0.02em;
  line-height: 26px;
  font-weight: 500;
  white-space: pre-wrap;
  opacity: 0.5;
}
.nav-list-item5 {
  position: absolute;
  top: 0;
  left: 522px;
  width: 389px;
  height: 173px;
  font-size: var(--font-size-base);
}
.nav-wrap1 {
  position: relative;
  width: 911px;
  height: 198px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-300);
}
.frame-div {
  position: absolute;
  top: 21px;
  left: 2px;
  width: 1200px;
  height: 198px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-57xl);
  text-align: left;
  color: var(--color-slategray-100);
}
.logo3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 126.6px;
  height: 64.2px;
  font-size: var(--font-size-12xl-6);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-volkhov);
}
.footer2,
.footer3 {
  position: absolute;
  top: 94px;
  left: 0;
  width: 1202px;
  height: 346px;
}
.footer2 {
  top: 2495px;
  left: 277px;
  width: 1643px;
  height: 484px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-manrope);
}
.akar-iconslocation1,
.clarityimage-gallery-line-icon1,
.uilcalender-icon1 {
  position: absolute;
  top: 753px;
  left: 678px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.akar-iconslocation1,
.clarityimage-gallery-line-icon1 {
  left: 1001px;
}
.clarityimage-gallery-line-icon1 {
  left: 1355px;
}
.frame-child8 {
  position: absolute;
  top: 210px;
  left: 61px;
  background-color: var(--white);
  width: 359px;
  height: 76px;
}
.name1 {
  position: absolute;
  top: 236px;
  left: 116px;
  line-height: 26px;
}
.frame-child9 {
  position: absolute;
  top: 295px;
  left: 61px;
  background-color: var(--white);
  width: 359px;
  height: 76px;
}
.email1 {
  position: absolute;
  top: 320px;
  left: 116px;
  line-height: 26px;
}
.frame-child10 {
  position: absolute;
  top: 380px;
  left: 61px;
  background-color: var(--white);
  width: 359px;
  height: 76px;
}
.clarityemail-line-icon2 {
  position: absolute;
  top: 408px;
  left: 86px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.confirm-email1 {
  position: absolute;
  top: 405px;
  left: 116px;
  line-height: 26px;
}
.frame-child11 {
  position: absolute;
  top: 465px;
  left: 61px;
  background-color: var(--white);
  width: 359px;
  height: 76px;
}
.phone1 {
  position: absolute;
  top: 490px;
  left: 116px;
  line-height: 26px;
}
.frame-child12,
.frame-child13 {
  position: absolute;
  top: 550px;
  left: 61px;
  background-color: var(--white);
  width: 359px;
  height: 76px;
}
.frame-child13 {
  top: 635px;
}
.number-of-ticket1 {
  position: absolute;
  top: 660px;
  left: 116px;
  line-height: 26px;
}
.frame-child14 {
  position: absolute;
  top: 720px;
  left: 61px;
  background-color: var(--white);
  width: 359px;
  height: 76px;
}
.message1 {
  position: absolute;
  top: 732px;
  left: 116px;
  line-height: 26px;
}
.book-this-tour1,
.ex-optio-sequi1 {
  position: absolute;
  text-align: center;
}
.ex-optio-sequi1 {
  top: 102px;
  left: 38px;
  font-size: var(--font-size-base);
  line-height: 26px;
  color: var(--black);
  display: inline-block;
  width: 401px;
  height: 76px;
}
.book-this-tour1 {
  top: 39px;
  left: 82px;
  font-size: var(--font-size-23xl);
  font-family: var(--font-volkhov);
  color: var(--color-darkslateblue-100);
}
.book-now1 {
  position: relative;
  font-weight: 600;
}
.button-search2,
.button-search3 {
  position: absolute;
  top: 892px;
  left: 153px;
  border-radius: var(--br-3xs);
  background-color: var(--color-salmon);
  box-shadow: 0 20px 35px rgba(223, 105, 81, 0.15);
  width: 176.6px;
  height: 56.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base-7);
  color: var(--white);
}
.button-search3 {
  top: 816px;
}
.dd-mm-yy1 {
  position: absolute;
  top: 575px;
  left: 116px;
  line-height: 26px;
}
.frame-child15,
.frame-child16 {
  position: absolute;
  top: 783px;
  left: 407px;
  width: 10px;
  height: 10px;
  object-fit: contain;
}
.frame-child16 {
  top: 773px;
  left: 397px;
  width: 20px;
  height: 20px;
}
.clarityemail-line-icon3,
.oouiuser-avatar-outline-icon1 {
  position: absolute;
  top: 238px;
  left: 86px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.clarityemail-line-icon3 {
  top: 323px;
}
.ant-designmessage-outlined-icon1,
.bicalendar-date-icon1,
.carbonphone-icon1,
.ciltags-icon1 {
  position: absolute;
  top: 493px;
  left: 86px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.ant-designmessage-outlined-icon1,
.bicalendar-date-icon1,
.ciltags-icon1 {
  top: 663px;
}
.ant-designmessage-outlined-icon1,
.bicalendar-date-icon1 {
  top: 578px;
}
.ant-designmessage-outlined-icon1 {
  top: 735px;
}
.rectangle-group {
  position: absolute;
  top: 875px;
  left: 1085px;
  background-color: var(--color-whitesmoke-400);
  width: 481px;
  height: 977px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-600);
}
.tour-plan2 {
  position: absolute;
  top: 751px;
  left: 718px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.image-916-icon,
.package-detail-page-tour-loc-child4 {
  position: absolute;
  top: 1101px;
  left: 349px;
  width: 704px;
  height: 694px;
  object-fit: cover;
}
.image-916-icon {
  top: 1643px;
  left: 1004px;
  border-radius: 12px;
  width: 33px;
  height: 125px;
}
.image-917-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.421);
}
.wrapper-image-917 {
  position: absolute;
  top: 1121px;
  left: 998px;
  width: 38px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-921-icon1 {
  position: absolute;
  top: 2213px;
  left: 277px;
  width: 380px;
  height: 252px;
  object-fit: cover;
}
.package-detail-page-tour-loc {
  background-color: var(--white);
  width: 1920px;
  height: 2979px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
